/*==========================================================================================
	
Media CSS File
This file contains all styles for responsive layout

==========================================================================================*/

@media only screen and (min-width: 1920px) {
    
}

@media only screen and (max-width: 1320px) {
    .bw-header-v2 .bw-navigation {padding-right:0;}
    .bw-header-v2 .bw-navigation > ul > li > a {padding:16px 7px;}
    .bw-header-v2 .bw-logo {width:175px;}
    .bw-cll {font-size:14px!important;}
}
@media only screen and (max-width: 1280px) {
    .bw-frame-borders .bw-header-top:before, .bw-frame-borders .bw-header-top:after {content:none;}
    .bw-body-header-v1 .bw-wrapper {border-bottom-width:0;}
    .bw-cll {font-size:13px!important;}
    .bw-clls .bw-cont .bw-cell {padding:0!important;}
}

@media only screen and (max-width: 1150px) {
    .bw-header-top .bw-part-left {padding-left:7px;}
    .bw-cll {font-size:12px!important;}
}

/* max container width */
@media only screen and (max-width: 1120px) {
    .bw-creanim {font-size:200px!important;height:545px;}
    .bw-creanim-box .bw-creanim-summary {letter-spacing:0!important;}
    .bw-container, .bw-footer, .bw-footer-copy {margin-left:3%;margin-right:3%;width:94%;overflow:hidden;}
    .bw-quick-look {display:none;}
    .bw-deal .bw-creanim {height:480px;font-size:160px!important;}
}

@media only screen and (max-width: 1024px) {
    
    .bw-header {display:none;}
    .bw-hm {display:block;visibility:visible;}
    .bw-hm a {text-decoration:none;}
    .bw-hm .bw-hm-top {display:block;width:100%;padding:0 15px;min-height:32px;position:relative;background-color:#f1f1f1;}
    .bw-hm .bw-hm-top .bw-hm-user {display:inline-block;color:#373737;}
    .bw-hm .bw-hm-top .bw-hm-user .bw-hm-avatar {display:inline-block;}
    .bw-hm .bw-hm-top .bw-hm-user .bw-hm-avatar, .bw-hm .bw-hm-user .bw-hm-avatar img {border-radius:50%;}
    .bw-hm .bw-hm-top .bw-hm-user .bw-hm-avatar img {max-width:22px;max-height:22px;vertical-align:bottom;}
    .bw-hm .bw-hm-top .bw-hm-username {display:inline-block;line-height:32px;}
    .bw-hm .bw-hm-top .bw-hm-search-icon {position:absolute;top:0;right:11px;padding:9px;color:#373737;cursor:pointer;}
    .bw-hm .bw-hm-top.bw-is-searching .bw-hm-search-icon:before {content:'\f00d';}
    .bw-hm .bw-hm-top .bw-hm-search {display:none;width:100%;padding:10px 0;}
    .bw-hm .bw-hm-top.bw-is-searching .bw-hm-search {display:block;}
    .bw-hm .bw-hm-top .bw-hm-search input {width:100%;background-color:#fff;border:0;padding:10px;margin-bottom:10px;}
    .bw-hm .bw-hm-top .bw-search-submit {display:none;}
    .bw-hm .bw-hm-main {position:relative;min-height:61px;border-bottom:1px solid #eee;}
    .bw-hm .bw-hm-main .bw-hm-logo {display:block;line-height:100%;}
    .bw-hm .bw-hm-main .bw-hm-logo h3 {padding-left:15px;margin:0;font-size:30px;}
    .bw-hm .bw-hm-main .bw-hm-logo img {padding-left:15px;max-width:50%;max-height:180px;vertical-align:middle;}
    .bw-hm .bw-hm-icons {position:absolute;top:-1px;right:8px;}
    .bw-hm .bw-hm-icons .bw-hm-icon {display:inline-block;padding:18px 9px;height:60px;width:45px;cursor:pointer;}
    .bw-hm .bw-hm-icons .bw-hm-icon img {width:100%;vertical-align:middle;}
    .bw-hm .bw-hm-icons .bw-hm-icon.bw-hm-icon-menu img {position:relative;top:-1px;}
    .bw-hm .bw-hm-icons > a {position:relative;}
    .bw-hm .bw-hm-icons .bw-round {position:absolute;bottom:-10px;right:8px;display:block;width:18px;height:18px;background-color:#373737;font-size:12px;color:#fff;line-height:100%;text-align:center;}
    
    .bw-breadcrumb-holder {padding-top:0!important;}
    .bw-breadcrumb {padding-left:15px;}
    
    .bw-hm-nav {position:fixed;right:-280px;bottom:0;width:280px;padding:20px 30px;background-color:#fff;z-index:12;overflow:hidden;overflow-y:auto;transition:right .3s;}
    .bw-mobile-menu-expanded .bw-hm-nav {right:0;}
    .bw-hm-nav .bw-mobile-menu {margin:0;list-style:none;}
    .bw-hm-nav .bw-mobile-menu li {display:block;}
    .bw-mobile-menu li a {display:block;line-height:100%;padding:12px 0;color:#373737;border-bottom:1px solid #f2f2f2;}
    .bw-hm-nav .bw-mobile-menu ul {margin:0;padding-left:20px;}
    .bw-hm-nav .bw-mobile-menu ul li a {font-size:13px;}
    
    .bwpb-heading-section .bwpb-heading-title {font-size:30px;width:100%!important;min-width:0!important;padding:0!important;}
    .bwpb-heading-section .bwpb-heading-line {display:none;}
    .bw-featured-tabs li {font-size:14px;padding:10px 20px;}
    
    .bw-picks {height:auto!important;}
    .bw-picks .bw-price-label {display:block;width:100%;padding:28px 20px;height:auto;position:relative;top:auto!important;left:auto!important;margin:0;border-radius:0;}
    .bw-picks h4 {display:block;text-align:left;color:#fff;font-size:16px;margin:0;}
    .bw-picks .bw-table {display:block;width:auto;height:auto;position:absolute;top:14px;right:20px;}
    .bw-picks .bw-cell {display:block;}
    .bw-picks .bw-deal-counter-holder {position:static;}
    .bw-picks .bw-deal-counter {position:static;margin-left:0;width:100%;max-width:100%;}
    
    .bw-scroller, #bw-v3m {display:none;}
    
    .bw-blog-grid article h3 {font-size:22px;}
}

@media only screen and (max-width: 880px) {
    .bw-creanim {height:480px;}
    .bw-deal-counter {width:76%;}
    .bw-deal .bw-creanim {height:420px;font-size:140px!important;}
    .bw-latest-posts .bw-info {font-size:11px;}
    .bw-latest-posts .bw-info .bw-date {padding-right:5px;}
    .bw-footer .bw-col {width:50%!important;display:inline-block;padding:0 20px 0 0!important;margin-bottom:30px;border:0;}
    .bw-icon-text h3 {font-size:15px;}
    .bwpb-heading-section .bwpb-heading-title {font-size:24px;}
    .bw-cll {width:50%;font-size:11px!important;}
    .bw-cll-inner {right:3.5%;}
    .bw-shop-archive .bw-item .bw-cont h4 {font-size:18px;}
    .widget .bw-search-form-inner .bw-search-submit {font-size:10px;text-transform:none;}
    
    .bw-sidebar {width:35%;}
    .bw-has-sidebar .bw-content {width:65%;}
    
    .bw-blog-list article .bw-image, .bw-blog-list article .bw-cont {display:block;width:100%;}
    .bw-blog-list article .bw-image {margin-bottom:20px;}
    .bw-blog-list article .bw-cont {padding-left:0;}
    
    .woocommerce .bw-product-listing ul.products li.product .bw-listing-cont h3 {font-size:20px;}
}

@media only screen and (max-width: 768px) {
    .bw-creanim {height:425px;}
    .bw-featured-tabs li {padding:4px 10px;}
    .bw-featured-tabs li:after {content:none;}
    .bw-container, .bw-footer, .bw-footer-copy {margin-left:4%;margin-right:4%;width:92%;}
    .bw-look .bw-look-info {position:static;text-align:left!important;}
    .bw-look .bw-look-info h2 {font-size:24px;margin:0;}
    .bw-cols-1 .woocommerce ul.products li.product, .woocommerce .bw-cols-1 ul.products li.product {width:100%;}
    .bw-listing-cont > p {display:none;}
    
    .bw-container-account .bw-sidebar {width:100%;padding:0;}
    .bw-container-account.bw-has-sidebar .bw-content {width:100%;}
    .woocommerce-page .bw-container-join .col-1, .woocommerce-page .bw-container-join .col-2 {width:100%;}
    .bw-container-join form.login {margin-right:0;}
    
    .woocommerce-page div.product div.summary, .woocommerce-page div.product div.images {width:100%;padding-right:0;padding-left:0;}
}

@media only screen and (max-width: 640px) {
    .bw-creanim {font-size:150px!important;height:350px;}
    .bw-creanim-alt-text {display:none!important;}
    .bw-icon-text-wrapper .bw-cell {width:100%;display:block;margin-bottom:25px;}
    .bw-container {margin-left:5%;margin-right:5%;width:90%;}
    .bwpb-heading-section .bwpb-heading-title {font-size:22px;}
    .bw-deal-counter {width:100%;border-left-width:0;border-right-width:0;left:0!important;margin-left:0!important;}
    .bw-deal-counter ul li {line-height:160%;padding:5px 0;}
    .bw-deal-counter ul li strong {display:block;font-size:25px;}
    .bw-deal .bw-creanim {font-size:120px!important;}
    .bw-latest-posts article {width:100%;padding-right:0;}
    .bw-cll {width:100%!important;padding-top:50%!important;}
    .bw-cll-inner {right:3.5%;bottom:0;margin-bottom:30px;}
    .bw-shop-archive .bw-item {width:50%;}
    
    .bw-sidebar, .bw-has-sidebar .bw-content {width:100%;}
    .bw-sidebar {padding-left:0;}
    
    .bw-blog-grid article {width:100%;padding:0!important;}
    
    .woocommerce .woocommerce-ordering {float:left;clear:both;}
    .woocommerce .woocommerce-result-count {margin-bottom:15px;}
    
    .bw-faq-wrapper .bw-faq-item .bw-faq-title {display:none;}
    .bw-faq-wrapper .bw-faq-content {position:static;width:100%;visibility:visible;opacity:1;}
    
    .bw-cart-title ul li span {background-color:#eee;}
    .bw-cart-title ul li span, .bw-cart-title ul li.bw-active span {width:50px;height:50px;font-size:15px;padding-top:14px;border:0;}
    .bw-cart-title ul li h5 {font-size:12px;}
}

@media only screen and (max-width: 480px) {
    .bw-creanim-content {font-size:120px!important;top:50%!important;left:50%!important;right:auto!important;bottom:auto!important;transform:translateX(-50%) translateY(-50%)!important;}
    .bw-footer .bw-col {width:100%!important;padding:0!important;}
    .bw-cll {padding-top:64%!important;}
    .bw-shop-archive .bw-item {width:100%;}
    
    .bw-cart-title {visibility:hidden;height:60px;padding:0;}
}

@media only screen and (max-width: 380px) {
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {width:100%;}
}