
@font-face {
	font-family:'bwpb-lineicons';
	src:url('Simple-Line-Icons.eot');
	src:url('Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
		url('Simple-Line-Icons.woff') format('woff'),
		url('Simple-Line-Icons.ttf') format('truetype'),
		url('Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
	font-weight:normal;
	font-style:normal;
}
.bwpb-lineicon-user-female, .bwpb-lineicon-user-follow, .bwpb-lineicon-user-following, .bwpb-lineicon-user-unfollow, .bwpb-lineicon-trophy, .bwpb-lineicon-screen-smartphone, .bwpb-lineicon-screen-desktop, .bwpb-lineicon-plane, .bwpb-lineicon-notebook, .bwpb-lineicon-moustache, .bwpb-lineicon-mouse, .bwpb-lineicon-magnet, .bwpb-lineicon-energy, .bwpb-lineicon-emoticon-smile, .bwpb-lineicon-disc, .bwpb-lineicon-cursor-move, .bwpb-lineicon-crop, .bwpb-lineicon-credit-card, .bwpb-lineicon-chemistry, .bwpb-lineicon-user, .bwpb-lineicon-speedometer, .bwpb-lineicon-social-youtube, .bwpb-lineicon-social-twitter, .bwpb-lineicon-social-tumblr, .bwpb-lineicon-social-facebook, .bwpb-lineicon-social-dropbox, .bwpb-lineicon-social-dribbble, .bwpb-lineicon-shield, .bwpb-lineicon-screen-tablet, .bwpb-lineicon-magic-wand, .bwpb-lineicon-hourglass, .bwpb-lineicon-graduation, .bwpb-lineicon-ghost, .bwpb-lineicon-game-controller, .bwpb-lineicon-fire, .bwpb-lineicon-eyeglasses, .bwpb-lineicon-envelope-open, .bwpb-lineicon-envelope-letter, .bwpb-lineicon-bell, .bwpb-lineicon-badge, .bwpb-lineicon-anchor, .bwpb-lineicon-wallet, .bwpb-lineicon-vector, .bwpb-lineicon-speech, .bwpb-lineicon-puzzle, .bwpb-lineicon-printer, .bwpb-lineicon-present, .bwpb-lineicon-playlist, .bwpb-lineicon-pin, .bwpb-lineicon-picture, .bwpb-lineicon-map, .bwpb-lineicon-layers, .bwpb-lineicon-handbag, .bwpb-lineicon-globe-alt, .bwpb-lineicon-globe, .bwpb-lineicon-frame, .bwpb-lineicon-folder-alt, .bwpb-lineicon-film, .bwpb-lineicon-feed, .bwpb-lineicon-earphones-alt, .bwpb-lineicon-earphones, .bwpb-lineicon-drop, .bwpb-lineicon-drawer, .bwpb-lineicon-docs, .bwpb-lineicon-directions, .bwpb-lineicon-direction, .bwpb-lineicon-diamond, .bwpb-lineicon-cup, .bwpb-lineicon-compass, .bwpb-lineicon-call-out, .bwpb-lineicon-call-in, .bwpb-lineicon-call-end, .bwpb-lineicon-calculator, .bwpb-lineicon-bubbles, .bwpb-lineicon-briefcase, .bwpb-lineicon-book-open, .bwpb-lineicon-basket-loaded, .bwpb-lineicon-basket, .bwpb-lineicon-bag, .bwpb-lineicon-action-undo, .bwpb-lineicon-action-redo, .bwpb-lineicon-wrench, .bwpb-lineicon-umbrella, .bwpb-lineicon-trash, .bwpb-lineicon-tag, .bwpb-lineicon-support, .bwpb-lineicon-size-fullscreen, .bwpb-lineicon-size-actual, .bwpb-lineicon-shuffle, .bwpb-lineicon-share-alt, .bwpb-lineicon-share, .bwpb-lineicon-rocket, .bwpb-lineicon-question, .bwpb-lineicon-pie-chart, .bwpb-lineicon-pencil, .bwpb-lineicon-note, .bwpb-lineicon-music-tone-alt, .bwpb-lineicon-music-tone, .bwpb-lineicon-microphone, .bwpb-lineicon-loop, .bwpb-lineicon-logout, .bwpb-lineicon-login, .bwpb-lineicon-list, .bwpb-lineicon-like, .bwpb-lineicon-home, .bwpb-lineicon-grid, .bwpb-lineicon-graph, .bwpb-lineicon-equalizer, .bwpb-lineicon-dislike, .bwpb-lineicon-cursor, .bwpb-lineicon-control-start, .bwpb-lineicon-control-rewind, .bwpb-lineicon-control-play, .bwpb-lineicon-control-pause, .bwpb-lineicon-control-forward, .bwpb-lineicon-control-end, .bwpb-lineicon-calendar, .bwpb-lineicon-bulb, .bwpb-lineicon-bar-chart, .bwpb-lineicon-arrow-up, .bwpb-lineicon-arrow-right, .bwpb-lineicon-arrow-left, .bwpb-lineicon-arrow-down, .bwpb-lineicon-ban, .bwpb-lineicon-bubble, .bwpb-lineicon-camcorder, .bwpb-lineicon-camera, .bwpb-lineicon-check, .bwpb-lineicon-clock, .bwpb-lineicon-close, .bwpb-lineicon-cloud-download, .bwpb-lineicon-cloud-upload, .bwpb-lineicon-doc, .bwpb-lineicon-envelope, .bwpb-lineicon-eye, .bwpb-lineicon-flag, .bwpb-lineicon-folder, .bwpb-lineicon-heart, .bwpb-lineicon-info, .bwpb-lineicon-key, .bwpb-lineicon-link, .bwpb-lineicon-lock, .bwpb-lineicon-lock-open, .bwpb-lineicon-magnifier, .bwpb-lineicon-magnifier-add, .bwpb-lineicon-magnifier-remove, .bwpb-lineicon-paper-clip, .bwpb-lineicon-paper-plane, .bwpb-lineicon-plus, .bwpb-lineicon-pointer, .bwpb-lineicon-power, .bwpb-lineicon-refresh, .bwpb-lineicon-reload, .bwpb-lineicon-settings, .bwpb-lineicon-star, .bwpb-lineicon-symbol-female, .bwpb-lineicon-symbol-male, .bwpb-lineicon-target, .bwpb-lineicon-volume-1, .bwpb-lineicon-volume-2, .bwpb-lineicon-volume-off, .bwpb-lineicon-users {
	font-family:'bwpb-lineicons';
	speak:none;
	font-style:normal;
	font-weight:normal;
	font-variant:normal;
	text-transform:none;
	-webkit-font-smoothing:antialiased;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:0;
    text-align:center;
    line-height:inherit;
    margin-left:0;
}
.bwpb-lineicon-user-female:before {
	content:"\e000";
}
.bwpb-lineicon-user-follow:before {
	content:"\e002";
}
.bwpb-lineicon-user-following:before {
	content:"\e003";
}
.bwpb-lineicon-user-unfollow:before {
	content:"\e004";
}
.bwpb-lineicon-trophy:before {
	content:"\e006";
}
.bwpb-lineicon-screen-smartphone:before {
	content:"\e010";
}
.bwpb-lineicon-screen-desktop:before {
	content:"\e011";
}
.bwpb-lineicon-plane:before {
	content:"\e012";
}
.bwpb-lineicon-notebook:before {
	content:"\e013";
}
.bwpb-lineicon-moustache:before {
	content:"\e014";
}
.bwpb-lineicon-mouse:before {
	content:"\e015";
}
.bwpb-lineicon-magnet:before {
	content:"\e016";
}
.bwpb-lineicon-energy:before {
	content:"\e020";
}
.bwpb-lineicon-emoticon-smile:before {
	content:"\e021";
}
.bwpb-lineicon-disc:before {
	content:"\e022";
}
.bwpb-lineicon-cursor-move:before {
	content:"\e023";
}
.bwpb-lineicon-crop:before {
	content:"\e024";
}
.bwpb-lineicon-credit-card:before {
	content:"\e025";
}
.bwpb-lineicon-chemistry:before {
	content:"\e026";
}
.bwpb-lineicon-user:before {
	content:"\e005";
}
.bwpb-lineicon-speedometer:before {
	content:"\e007";
}
.bwpb-lineicon-social-youtube:before {
	content:"\e008";
}
.bwpb-lineicon-social-twitter:before {
	content:"\e009";
}
.bwpb-lineicon-social-tumblr:before {
	content:"\e00a";
}
.bwpb-lineicon-social-facebook:before {
	content:"\e00b";
}
.bwpb-lineicon-social-dropbox:before {
	content:"\e00c";
}
.bwpb-lineicon-social-dribbble:before {
	content:"\e00d";
}
.bwpb-lineicon-shield:before {
	content:"\e00e";
}
.bwpb-lineicon-screen-tablet:before {
	content:"\e00f";
}
.bwpb-lineicon-magic-wand:before {
	content:"\e017";
}
.bwpb-lineicon-hourglass:before {
	content:"\e018";
}
.bwpb-lineicon-graduation:before {
	content:"\e019";
}
.bwpb-lineicon-ghost:before {
	content:"\e01a";
}
.bwpb-lineicon-game-controller:before {
	content:"\e01b";
}
.bwpb-lineicon-fire:before {
	content:"\e01c";
}
.bwpb-lineicon-eyeglasses:before {
	content:"\e01d";
}
.bwpb-lineicon-envelope-open:before {
	content:"\e01e";
}
.bwpb-lineicon-envelope-letter:before {
	content:"\e01f";
}
.bwpb-lineicon-bell:before {
	content:"\e027";
}
.bwpb-lineicon-badge:before {
	content:"\e028";
}
.bwpb-lineicon-anchor:before {
	content:"\e029";
}
.bwpb-lineicon-wallet:before {
	content:"\e02a";
}
.bwpb-lineicon-vector:before {
	content:"\e02b";
}
.bwpb-lineicon-speech:before {
	content:"\e02c";
}
.bwpb-lineicon-puzzle:before {
	content:"\e02d";
}
.bwpb-lineicon-printer:before {
	content:"\e02e";
}
.bwpb-lineicon-present:before {
	content:"\e02f";
}
.bwpb-lineicon-playlist:before {
	content:"\e030";
}
.bwpb-lineicon-pin:before {
	content:"\e031";
}
.bwpb-lineicon-picture:before {
	content:"\e032";
}
.bwpb-lineicon-map:before {
	content:"\e033";
}
.bwpb-lineicon-layers:before {
	content:"\e034";
}
.bwpb-lineicon-handbag:before {
	content:"\e035";
}
.bwpb-lineicon-globe-alt:before {
	content:"\e036";
}
.bwpb-lineicon-globe:before {
	content:"\e037";
}
.bwpb-lineicon-frame:before {
	content:"\e038";
}
.bwpb-lineicon-folder-alt:before {
	content:"\e039";
}
.bwpb-lineicon-film:before {
	content:"\e03a";
}
.bwpb-lineicon-feed:before {
	content:"\e03b";
}
.bwpb-lineicon-earphones-alt:before {
	content:"\e03c";
}
.bwpb-lineicon-earphones:before {
	content:"\e03d";
}
.bwpb-lineicon-drop:before {
	content:"\e03e";
}
.bwpb-lineicon-drawer:before {
	content:"\e03f";
}
.bwpb-lineicon-docs:before {
	content:"\e040";
}
.bwpb-lineicon-directions:before {
	content:"\e041";
}
.bwpb-lineicon-direction:before {
	content:"\e042";
}
.bwpb-lineicon-diamond:before {
	content:"\e043";
}
.bwpb-lineicon-cup:before {
	content:"\e044";
}
.bwpb-lineicon-compass:before {
	content:"\e045";
}
.bwpb-lineicon-call-out:before {
	content:"\e046";
}
.bwpb-lineicon-call-in:before {
	content:"\e047";
}
.bwpb-lineicon-call-end:before {
	content:"\e048";
}
.bwpb-lineicon-calculator:before {
	content:"\e049";
}
.bwpb-lineicon-bubbles:before {
	content:"\e04a";
}
.bwpb-lineicon-briefcase:before {
	content:"\e04b";
}
.bwpb-lineicon-book-open:before {
	content:"\e04c";
}
.bwpb-lineicon-basket-loaded:before {
	content:"\e04d";
}
.bwpb-lineicon-basket:before {
	content:"\e04e";
}
.bwpb-lineicon-bag:before {
	content:"\e04f";
}
.bwpb-lineicon-action-undo:before {
	content:"\e050";
}
.bwpb-lineicon-action-redo:before {
	content:"\e051";
}
.bwpb-lineicon-wrench:before {
	content:"\e052";
}
.bwpb-lineicon-umbrella:before {
	content:"\e053";
}
.bwpb-lineicon-trash:before {
	content:"\e054";
}
.bwpb-lineicon-tag:before {
	content:"\e055";
}
.bwpb-lineicon-support:before {
	content:"\e056";
}
.bwpb-lineicon-size-fullscreen:before {
	content:"\e057";
}
.bwpb-lineicon-size-actual:before {
	content:"\e058";
}
.bwpb-lineicon-shuffle:before {
	content:"\e059";
}
.bwpb-lineicon-share-alt:before {
	content:"\e05a";
}
.bwpb-lineicon-share:before {
	content:"\e05b";
}
.bwpb-lineicon-rocket:before {
	content:"\e05c";
}
.bwpb-lineicon-question:before {
	content:"\e05d";
}
.bwpb-lineicon-pie-chart:before {
	content:"\e05e";
}
.bwpb-lineicon-pencil:before {
	content:"\e05f";
}
.bwpb-lineicon-note:before {
	content:"\e060";
}
.bwpb-lineicon-music-tone-alt:before {
	content:"\e061";
}
.bwpb-lineicon-music-tone:before {
	content:"\e062";
}
.bwpb-lineicon-microphone:before {
	content:"\e063";
}
.bwpb-lineicon-loop:before {
	content:"\e064";
}
.bwpb-lineicon-logout:before {
	content:"\e065";
}
.bwpb-lineicon-login:before {
	content:"\e066";
}
.bwpb-lineicon-list:before {
	content:"\e067";
}
.bwpb-lineicon-like:before {
	content:"\e068";
}
.bwpb-lineicon-home:before {
	content:"\e069";
}
.bwpb-lineicon-grid:before {
	content:"\e06a";
}
.bwpb-lineicon-graph:before {
	content:"\e06b";
}
.bwpb-lineicon-equalizer:before {
	content:"\e06c";
}
.bwpb-lineicon-dislike:before {
	content:"\e06d";
}
.bwpb-lineicon-cursor:before {
	content:"\e06e";
}
.bwpb-lineicon-control-start:before {
	content:"\e06f";
}
.bwpb-lineicon-control-rewind:before {
	content:"\e070";
}
.bwpb-lineicon-control-play:before {
	content:"\e071";
}
.bwpb-lineicon-control-pause:before {
	content:"\e072";
}
.bwpb-lineicon-control-forward:before {
	content:"\e073";
}
.bwpb-lineicon-control-end:before {
	content:"\e074";
}
.bwpb-lineicon-calendar:before {
	content:"\e075";
}
.bwpb-lineicon-bulb:before {
	content:"\e076";
}
.bwpb-lineicon-bar-chart:before {
	content:"\e077";
}
.bwpb-lineicon-arrow-up:before {
	content:"\e078";
}
.bwpb-lineicon-arrow-right:before {
	content:"\e079";
}
.bwpb-lineicon-arrow-left:before {
	content:"\e07a";
}
.bwpb-lineicon-arrow-down:before {
	content:"\e07b";
}
.bwpb-lineicon-ban:before {
	content:"\e07c";
}
.bwpb-lineicon-bubble:before {
	content:"\e07d";
}
.bwpb-lineicon-camcorder:before {
	content:"\e07e";
}
.bwpb-lineicon-camera:before {
	content:"\e07f";
}
.bwpb-lineicon-check:before {
	content:"\e080";
}
.bwpb-lineicon-clock:before {
	content:"\e081";
}
.bwpb-lineicon-close:before {
	content:"\e082";
}
.bwpb-lineicon-cloud-download:before {
	content:"\e083";
}
.bwpb-lineicon-cloud-upload:before {
	content:"\e084";
}
.bwpb-lineicon-doc:before {
	content:"\e085";
}
.bwpb-lineicon-envelope:before {
	content:"\e086";
}
.bwpb-lineicon-eye:before {
	content:"\e087";
}
.bwpb-lineicon-flag:before {
	content:"\e088";
}
.bwpb-lineicon-folder:before {
	content:"\e089";
}
.bwpb-lineicon-heart:before {
	content:"\e08a";
}
.bwpb-lineicon-info:before {
	content:"\e08b";
}
.bwpb-lineicon-key:before {
	content:"\e08c";
}
.bwpb-lineicon-link:before {
	content:"\e08d";
}
.bwpb-lineicon-lock:before {
	content:"\e08e";
}
.bwpb-lineicon-lock-open:before {
	content:"\e08f";
}
.bwpb-lineicon-magnifier:before {
	content:"\e090";
}
.bwpb-lineicon-magnifier-add:before {
	content:"\e091";
}
.bwpb-lineicon-magnifier-remove:before {
	content:"\e092";
}
.bwpb-lineicon-paper-clip:before {
	content:"\e093";
}
.bwpb-lineicon-paper-plane:before {
	content:"\e094";
}
.bwpb-lineicon-plus:before {
	content:"\e095";
}
.bwpb-lineicon-pointer:before {
	content:"\e096";
}
.bwpb-lineicon-power:before {
	content:"\e097";
}
.bwpb-lineicon-refresh:before {
	content:"\e098";
}
.bwpb-lineicon-reload:before {
	content:"\e099";
}
.bwpb-lineicon-settings:before {
	content:"\e09a";
}
.bwpb-lineicon-star:before {
	content:"\e09b";
}
.bwpb-lineicon-symbol-female:before {
	content:"\e09c";
}
.bwpb-lineicon-symbol-male:before {
	content:"\e09d";
}
.bwpb-lineicon-target:before {
	content:"\e09e";
}
.bwpb-lineicon-volume-1:before {
	content:"\e09f";
}
.bwpb-lineicon-volume-2:before {
	content:"\e0a0";
}
.bwpb-lineicon-volume-off:before {
	content:"\e0a1";
}
.bwpb-lineicon-users:before {
	content:"\e001";
}